{% extends 'base.html' %}





	<nav class="navbar navbar-light" style="background-color: #385170; height: 80px; width: 100%;" >
  <!-- Navbar content -->

  <h3 style="color: #fff;text-align:center;">Welcom To My Django Project </h3>
  <img src="https://www.kanzalebda3.com/ssss.png" width="70px">
	</nav>
	
			{%  block breadcrumb %}

			<li class="breadcrumb-item active">Boards</li>
		     {% endblock %}

		     {% block content %}  
		<table class="table" style="border:solid 1PX #CCC">
			<thead class="thead-inverse">
				<tr style="border:solid 1PX #CCC;background-color: #385170;color: #fff">
					<th><a href="#">Boars</a></th>
					<th><a href="#">Post</a></th>
					<th><a href="#">Topic</a></th>
					<th>Last Post</th>
				</tr>
			</thead>
			<tbody>
				{% for board in boards %}
				<tr>
					<td>
						<a href="{% url 'boards_topic' board.pk %}">{{board.name}}</a>
					  <small class="text-muted d-block">{{board.description}}</small>
					</td>
					 <td class="align-middle">{{topic.Created_dt}}</td>
					 <td class="align-middle">0</td>
					 <td></td>
					</td>
				   </tr>
				{% endfor %}
			</tbody>
		</table>
        {% endblock %}

		<footer>

           <footer>

           	copy right 2019 &copy; to <a href="https://www.kanzalebda3.com">bigman2055</a>
           </footer>


		</footer>

